
<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient fw-bold mb-1" >
  <div " justify-content-start">
      <a class="navbar-brand" href="/">Home</a>
      
  </div>
</nav>
<div class="bg-light">
<h2 class="text-center">E-customers home page</h2>
<a class="btn btn-outline-info mb-3" href="/electronics/add">Add Customer</a>
{{# if users }}

    <h3>Total Users {{users.length}}</h3>
    
    <div class="card d-grid gap-3">
      {{#each users}}
          <h5 class="card-header">Name: {{name}}</h5>
            <div class="card-body">
              <h5 class="card-title">Email: {{email}}</h5>
              <h5 class="card-title">Contact: {{phone}}</h5>
              <h5 class="card-title">Date of Birth: {{ formatDate birthDay 'MMM Do YYYY' }}</h5>
              <a href="/electronics/edit/{{_id}}" class="btn btn-primary btn-sm">Edit</a>
              <form action="/electronics/{{_id}}" method="POST" id="delete-form" class="d-inline" >
                <input type="hidden" name="_method"  value="DELETE" >
                <button class="btn btn-danger btn-sm" type="submit" > Delete </button>
              </form>
            </div>
      {{/each}}  
    </div>

</div>

{{else}}
<p>There is no user available</p>
{{/if}}